* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aqua;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}
body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center top;
  justify-content: center;
  position: relative;
}
